@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-body: "Poppins", sans-serif;
  --color-background: #e3f7fc;
  --color-primary: #6366f1;
  --color-secondary: #22c55e;
  --color-dark: #111827;
  --color-light: #f9fafb;
  --color-neutral: #374151;
}

/* CSS reset and base styles */

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-background bg-[linear-gradient(175deg,#e3f7fc_0%,#ffffff_0%,#c0fafc_100%)] font-body text-neutral;
  }
}

.btn-primary {
  @apply bg-primary text-light font-medium rounded-lg px-4 py-2 transition-colors duration-300 hover:bg-primary/90 cursor-pointer;
}

.input-style {
  @apply border border-neutral/50 rounded-md px-3 py-1.5 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent transition-colors duration-300;
}
